.content{
    min-height: 100vh;
    /* background-color: rgb(14, 17, 23); */
    margin-top: -17px;
    display: flex;
  
   
}
@media screen and (max-width : 758px){
    .content{
        flex-direction: column
    };
    
}