.filter
{
    &.root{
        padding: 10px;
       margin-top: 8px;
        display: flex;
        gap: 10px;
       
    }
    &.searchBox{
        background-color: rgb(14,17,23);
        border: 2px solid rgb(48,54,60);
        width: 60%;
        padding: 5px 8px;
        border-radius: 6px;
        color: white;
        font-weight: 550;
        min-width: 200px;
    }
    &.searchBox:focus{
        border-color: #4493f8;
        outline: none;
       
    }
    &.dropDownFlex{
        display: flex;
        gap: 10px;
    }
    &.flex{
        color: #c8d1d9;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        background-color: #21262c;
        padding: 4px 10px;
        border-radius: 6px;
        cursor: pointer;
        gap: 5px;
        border: 2px solid rgb(48, 54, 60);
        position: relative;
    }
    &.flex:hover{
        background-color: #343941;
    }
    &.downArrow{
        margin-top: 2px;
    }
    &.dropDown{
        background-color: #161b22;
        position: absolute;
        top: 35px;
        right: 10px;
        border: 2px solid rgb(48, 54, 60);
        border-radius: 6px;
    }
    &.menuItem,&.saperate{
        display: flex;
            align-items: center;
            min-width: 200px;
            padding: 5px 10px;
            font-size: 12px;
            gap: 4px;
         
    }
    &.check{
        width: 20px;
    }
    &.saperate{
       font-weight: 800;
        justify-content: space-between;
    }
    &.dummy
    {
        width: 20px;
        
    }
        @media screen and (max-width: 758px) {
            &.root {
                padding: 0px;
                padding-bottom: 10px;
                flex-direction: column;
            }
                           &.searchBox {
                               width: 95%;
            
                               font-weight: 550;
                           }
            
                           &.dropDown {
            
                               top: 35px;
                               right: -70px;
            
                           }
            
                           &.menuItem,
                           &.saperate {
                               min-width: 50px;
                               padding: 10px;
             
                           }
                          
        }
                      
}