.navbarList{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    color: #fff;
    margin-top: 0px;
   padding-top: 20px;
   padding-bottom: 20px;
}
.navBar{
background-color: #24292E;
z-index: 1;
}
.makeFlex{
    display: flex;
    gap: 4px;
}
.down{
    margin-top: 2px;
}
li{
    cursor: pointer;
}
 @media screen and (max-width : 758px){
    .makeFlex{
        display: none;
    }
 }