.footer{
    &.githubCopyRightFooter{
        color: white;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 50px;
    }
}